In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel('E:/ADITYA/Shooping Demo.xls')

In [3]:
data.head()

       Day Discount Free Delivery Purchase Unnamed: 4  Unnamed: 5 Unnamed: 6
0  Weekday      Yes           Yes      Yes     YesYes  WeekdayYes     YesYes
1  Weekday      Yes           Yes      Yes     YesYes  WeekdayYes     YesYes
2  Weekend       No            No       No       NoNo   WeekendNo       NoNo
3  Holiday      Yes           Yes      Yes     YesYes  HolidayYes     YesYes
4  Weekday      Yes           Yes      Yes     YesYes  WeekdayYes     YesYes

In [4]:
data.shape

(30, 7)

In [5]:
data['Purchase'].value_counts()

Yes    24
No      6
Name: Purchase, dtype: int64

In [6]:
PYes = 24/30
PNo = 6/30

In [7]:
print(PYes)

0.8

In [8]:
print(PNo)

0.2

In [9]:
pd.crosstab(data['Day'], data['Purchase'])

Purchase  No  Yes
Day
Holiday    3    8
Weekday    2    9
Weekend    1    7

In [16]:
PHolidayNo = 3/6
PWeekdayNo = 2/6
PWeekendNo = 1/6

PHolidayYes = 8/24
PWeekdayYes = 9/24
PWeekendYes = 7/24

PHoliday = 11/30
PWeekday = 11/30
PWeekend = 8/30

print(PWeekdayYes)

0.375

In [17]:
# P(A|B) ?
# P (B) = PWeekday
# P (A) = No Buy
# P (B|A) = P Weekday|NoBuy

In [18]:
PNoWeekday = (PWeekdayNo*PNo)/PWeekday
print(PNoWeekday)

0.18181818181818182

In [19]:
PYesWeekday = (PWeekdayYes*PYes)/PWeekday
print(PYesWeekday)

0.8181818181818183

In [20]:
# probabilitas (Buy | Weekday) > dibanding dengan probabilitas (NoBuy | Weekday)
print(PNoWeekday)
print(PYesWeekday)

0.18181818181818182
0.8181818181818183

In [21]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Deivery = Yes
# A = Buy 
# P(A|B) = P(Buy|DiscountYes, free Delivery Yes, PDayHoliday)

In [22]:
pd.crosstab(data['Discount'], data['Purchase'])

Purchase  No  Yes
Discount
No         5    5
Yes        1   19

In [23]:
PNoDiscountNo = 5/6
PYesDiscountNo = 1/6

PNoDiscountYes = 5/24
PYesDiscountYes = 19/24

PNoDiscount = 10/30
PYesDiscount = 20/30

In [25]:
pd.crosstab(data['Free Delivery'], data['Purchase'])

Purchase       No  Yes
Free Delivery
No              4    3
Yes             2   21

In [30]:
PNoDeliveryNo = 4/6
PYesDeliveryNo = 2/6

PNoDeliveryYes = 3/24
PYesDeliveryYes = 21/24

PNoDelivery = 7/30
PYesDelivery = 23/30

In [27]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = yes
# P(A) = NoBuy =PNo
# P(B) = PYesDiscount, PYesDelivery, PHoliday
# P(B|A)1 = (PHoliday|No Buy) = PHoliday
# P(B|A)2 = (PYesDiscount|No Buy) = PYesDiscountNo
# P(B|A)3 = (PYesDelivery|No Buy) = PYesDeliveryNo
# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesDelivery

# ditanyakan P(A|B)?
# Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

In [31]:
PNoBuy1 = ((PHolidayNo*PYesDiscountNo*PYesDeliveryNo)*PNo)/(PHoliday*PYesDiscount*PYesDelivery)
print(PNoBuy1)

0.029644268774703563

In [32]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = yes
# P(A) = Buy =PYes
# P(B) = PYesDiscount, PYesDelivery, PHoliday
# P(B|A)1 = (PHoliday|Buy) = PHolidayYes
# P(B|A)2 = (PYesDiscount|Buy) = PYesDiscountYes
# P(B|A)3 = (PYesDelivery|Buy) = PYesDeliveryYes
# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesDelivery

# ditanyakan P(A|B)?
# Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

In [35]:
PBuy2 = ((PHolidayYes*PYesDiscountYes*PYesDeliveryYes)*PYes)/(PHoliday*PYesDiscount*PYesDelivery)
print(PNoBuy2)

0.9856719367588933

In [34]:
# probabilitas of No Purchase = 0.029644268774703563
# probabilitas of Purchase = 0.9856719367588933

In [36]:
PSum = PNoBuy1+PBuy2
print(PSum)

1.015316205533597

In [38]:
PBuy = (PBuy2/PSum)*100
print(PBuy)

97.08029197080292

In [39]:
PNoBuy = (PNoBuy1/PSum)*100
print(PNoBuy)

2.9197080291970807